.logo {
    width: 100px;
    height: 40px;
}

.footer-size {
    font-size: 12px;
}

#offcanvasWithBothOptions {
    width: 50% !important;
}

.user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.userpic {
    width: 100px;
    height: 100px;
}

.product-size {
    max-width: 400px !important;
    height: 300px !important;
}

.embossed-text {
    margin-top: -80px !important;
    color: #eaf0a0; /* Text color should match or be very close to the background */
    text-shadow:
        -1px -1px 0px rgba(255, 255, 255, 0.7), /* Light highlight (top-left) */
        1px 1px 0px rgba(0, 0, 0, 0.5);      /* Dark shadow (bottom-right) */
  }

  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px !important;
    height: 30px !important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 60% !important;
    cursor: pointer;
    background-color: #fefafa;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.9;
    transition: opacity .6s ease;
  }
  
  .carousel-inner .carousel-item img {
    max-width: 100% !important;
    height: 550px;
    object-fit: cover;
  }
  
  .w-90 {
    width: 98% !important;
    margin: 0 auto;
  }

  